<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.smbms.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.smbms.servlet.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.smbms.servlet.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderServlet</servlet-name>
    <servlet-class>cn.smbms.servlet.provider.ProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>cn.smbms.servlet.bill.BillServlet</servlet-class>
  </servlet>


  
  
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderServlet</servlet-name>
    <url-pattern>/provider.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/bill.do</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
  	<filter-name>CharacterEncoding</filter-name>
  	<filter-class>cn.smbms.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>